<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>浏览器版本过低提醒</title>
<link rel="stylesheet" type="text/css" href="@@{csspath}/static/styles/brower.css">
</head>
<body>
	<div class="header">
		<div class="logo"><a href="@@{index}"><img src="@@{imgpath}/static/images/browerlogo.png"></a></div>
		<a href="http://chat.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=651273&configID=45233&jid=8622492600" class="kefu">在线客服</a>
	</div>
	<div class="main">
		<div class="pic"><img src="@@{imgpath}/static/images/browerimg.png"></div>
		<div class="browerico">
			<a id="goodle" href="http://chrome.360.cn/">谷歌</a>
			<a id="firefox" href="https://www.firefox.com/">火狐</a>
			<a id="ie" href="http://windows.microsoft.com/ie">IE11</a>
		</div>
		<div class="clear"></div>
	<!-- 	<p class="tishi"><img src="@@{imgpath}/static/images/uedk.png">
			<span class="erweima"></span>
		</p> -->
	</div>

</body>
</html>