@@include("./layout/header-sun.html" , {
      tit:"优惠券",
})
<link rel="stylesheet" type="text/css" href="@@{csspath}/static/styles/personalCenter.css">
<link rel="stylesheet" type="text/css" href="@@{csspath}/static/styles/progress-ring.css">
<link rel="stylesheet" type="text/css" href="@@{csspath}/static/styles/lq.datetimepick.css">
<link rel="stylesheet" type="text/css" href="@@{csspath}/static/styles/coupon.css">
@@include("./layout/personalLayout.html")
		<div class="main_r">
			<h3><p>优惠券</p><span>可在钱包转账时使用优惠券，以获得额外优惠。</span></h3>
			<div class="clear"></div>
			<p class="couponNum"><span>3</span>个未使用的优惠券</p>
			<ul class="couponList">
				<li>
					<div class="cl">
						<h4>绑定真实姓名</h4>
						<div class="na">
							<p class="num">5.00</p>
							<p class="collect"><a href="http://chat.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=651273&configID=45233&jid=8622492600" target="_blank">立刻领取</a></p>
						</div>
					</div>
					<div class="cr">
						<p class="nameTime"><span class="crL">绑定真实姓名</span><!-- <span class="crR">生成时间 2016/11/20 23:32:26</span> --></p>
						<div class="clear"></div>
						<p class="coupontips">绑定真实姓名，可获得5元奖励</p>
						<p class="coupontype">绑定红利</p>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<div class="cl">
						<h4>绑定真实姓名</h4>
						<div class="na">
							<p class="num">5.00</p>
							<p class="collect"><a href="http://chat.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=651273&configID=45233&jid=8622492600" target="_blank">立刻领取</a></p>
						</div>
					</div>
					<div class="cr">
						<p class="nameTime"><span class="crL">绑定真实姓名</span><!-- <span class="crR">生成时间 2016/11/20 23:32:26</span> --></p>
						<div class="clear"></div>
						<p class="coupontips">绑定真实姓名，可获得5元奖励</p>
						<p class="coupontype">绑定红利</p>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<div class="cl">
						<h4>绑定真实姓名</h4>
						<div class="na">
							<p class="num">5.00</p>
							<p class="collect"><a href="http://chat.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=651273&configID=45233&jid=8622492600" target="_blank">立刻领取</a></p>
						</div>
					</div>
					<div class="cr">
						<p class="nameTime"><span class="crL">绑定真实姓名</span><!-- <span class="crR">生成时间 2016/11/20 23:32:26</span> --></p>
						<div class="clear"></div>
						<p class="coupontips">绑定真实姓名，可获得5元奖励</p>
						<p class="coupontype">绑定红利</p>
					</div>
					<div class="clear"></div>
				</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div class="pob">   
		<h4><p>消息</p><a href="javascript:;">x</a></h4>
		<p>要是用该彩金，您需要有一次成功提款</p>
		<p class="confirm">确定</p>
	</div>
@@include("./layout/footer-sun-login.html")	
<script type="text/javascript" src="@@{jspath}/static/scripts/jquery.classyloader.min.js"></script>
<script type="text/javascript" src="@@{jspath}/static/scripts/lq.datetimepick.js"></script>
<script type="text/javascript" src="@@{jspath}/static/scripts/selectUi.js"></script>
<script type="text/javascript" src="@@{jspath}/static/scripts/personalPublic.js"></script>
<script type="text/javascript">
	$(".main_l2").addClass("active")
</script>
</body>
</html>
