@@include("./layout/header-sun.html" , {
tit:"真人" 
})
<link rel="stylesheet" type="text/css" href="@@{csspath}/static/styles/entertainment.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
<style>
.index-notice {
    margin-top: -35px !important;
}

</style>

<section class="entertainment">
    <div class="banner" style="background:url(@@{imgpath}/static/images/banner4-1.png) 50% 50% no-repeat; width: 100%; height: 316px">
    </div>
</section>
@@include("./layout/noticeLayout.html")
<section class="index-screen-01">
    <div class="container">
        <div class="row row-guttery-0">
            <div class="index_l p2-left-box">
                <div class="p2-item">
                    <div class="p2-block p2-pt"><a href="@@{views}help/casinorule.html" class="rule"></a><a href="@@{views}game.html?d=api&c=game&m=entergame&pid=9&gametype=bal&gameTitle=PT%E5%A8%B1%E4%B9%90%E5%9F%8E" class="start"></a></div>
                    <div class="p2-block p2-mg"><a href="@@{views}help/casinorule.html" class="rule"></a><a href="@@{views}game.html?d=api&c=game&m=entergame&pid=22&gametype=0&gameTitle=MG%E5%A8%B1%E4%B9%90%E5%9F%8E" class="start"></a></div>
                </div>
            </div>
            <div class="index_m p2-center-box">
                <div class="p2-item">
                    <div class="p2-block p2-ag"><a href="@@{views}help/casinorule.html" class="rule"></a><a href="@@{views}game.html?d=api&c=game&m=entergame&pid=18&gametype=0&gameTitle=AG%E5%A8%B1%E4%B9%90%E5%9F%8E" class="start"></a></div>
                    <div class="p2-block p2-bbin"><a href="@@{views}help/casinorule.html" class="rule"></a><a href="@@{RootUrl}?d=api&c=game&m=entergame&pid=23&gametype=1&gameTitle=BBIN%E5%A8%B1%E4%B9%90%E5%9F%8E" class="start"></a></div>
                </div>
            </div>
            <div class="index_r p2-right-box">
                <div class="p2-item">
                    <div class="p2-block p2-experience"><a href="@@{views}trygame.html?d=api&c=game&m=trygame&pid=18"><img src="@@{imgpath}/static/images/p2_experience_banner.gif"/></a></div>
                    <div class="p2-block p2-promotion">
                        <div class="more"> <a href="#">
                                更多优惠活动<i class="fa fa-caret-right"></i></a></div>
                        <ul>
                            <li> <a class="hover-anime">试玩游戏</a></li>
                            <li class="minor"> <a class="hover-anime">下载客户端</a>
                                <div class="date">2017/2/28</div>
                            </li>
                            <li class="minor"> <a class="hover-anime">开户首存</a>
                                <div class="date">2017/2/28</div>
                            </li>
                            <li class="minor"> <a class="hover-anime">开户首存</a>
                                <div class="date">2017/2/28</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@@include("./layout/footer-sun.html")	
<script type="text/javascript" src="@@{jspath}/static/scripts/entertainment.js"></script>
</body>
</html>