@@include("./layout/header-sun.html" , {
      tit:"游戏",
})

@@include("./layout/noticeLayout.html")
	<link rel="stylesheet" type="text/css" href="@@{csspath}/static/styles/gameInner.css">
	<div class="gameBox">
		<iframe scrolling="no" id="gameFrame" frameborder="0" allowtransparency="true" style="width: 1200px; min-height:800px; display: block;" src=""></iframe>
	</div>
@@include("./layout/footer-sun.html")	
<script type="text/javascript" src="@@{jspath}/static/scripts/gameInner.js"></script>
</body>
</html>