@@include("./layout/header-sun.html" , {
      tit:"首页", 
  })
    <link rel="stylesheet" href="@@{csspath}/static/styles/ued-index.css">
    <section class="index-slide">
      <div class="slide-inner">
        <div class="sl_img _vr_carousels_check banner1" style="background:url(@@{imgpath}/static/images/banner1-sun.jpg) 50% 50% no-repeat;" starttime="1474267757000" endtime="33031209599000" showindex="1"></div>
        <div class="sl_img _vr_carousels_check banner2" style="background:url(@@{imgpath}/static/images/banner2.jpg) 50% 50% no-repeat;" starttime="1473861507000" endtime="33032159999000" showindex="2"></div>
        <div class="sl_img _vr_carousels_check banner3" style="background:url(@@{imgpath}/static/images/banner3.jpg) 50% 50% no-repeat;" starttime="1473861614000" endtime="33032159999000" showindex="3"></div> 
      </div>
      <div class="slide-indicators">
    		<div class="_vr_carousels_check sl_icon" style="background:url(@@{imgpath}/static/images/index-ban-icon-02.png)" starttime="1482723906000" endtime="33031209599000">
    		<input type="text" class="ctc_btn">
    		</div>
    		<div class="_vr_carousels_check sl_icon" style="background:url(@@{imgpath}/static/images/index-ban-icon-03.png)" starttime="1473861507000" endtime="33032159999000">
    		<input type="text" class="ctc_btn">
    		</div>
    		<div class="_vr_carousels_check sl_icon" style="background:url(@@{imgpath}/static/images/index-ban-icon-01.png)" starttime="1473861614000" endtime="33032159999000">
    		<input type="text" class="ctc_btn">
    		</div>
	    </div>
    </section>
  @@include("./layout/noticeLayout.html")
	<section class="index-rows-01">
		<div class="container">
			<a href="#" class="link link-1"></a>
			<a href="#" class="link link-2"></a>
			<a href="#" class="link link-3"></a>
			<a href="#" class="link link-4"></a>
		</div>
	</section>
	
	<section class="index-rows-02">
		<div class="container">
			<div class="float-left">
				<p class="super-money"></p>
				<p class="super-number"></p>
			
			</div>
			<div class="float-left">
				<p class="free-play"></p>
				<a href="#" class="play-1"></a>
				<a href="#" class="play-2"></a>
				<a href="#" class="play-3"></a>
			
			</div>

		</div>
	</section>	

  </main>
  
@@include("./layout/footer-sun.html") 

<script src="@@{jspath}/static/scripts/gui-ued.min.js"></script>
<script src="@@{jspath}/static/scripts/jquery.knob.min.js"></script>
<script src="@@{jspath}/static/scripts/jquery.validate.extend.msites.js"></script>
<script src="@@{jspath}/static/scripts/ued-index.js"></script>
</body>
</html>