<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<title>UED入口站</title>
<link rel="stylesheet" type="text/css" href="@@{csspath}/static/styles/gui-ued.css">
<link rel="stylesheet" type="text/css" href="@@{csspath}/static/styles/login.css">
<script type="text/javascript">
	var RootUrl = "@@{RootUrl}" 
	var indexUrl = "@@{index}"
	var views = "@@{views}" 
</script>
</head>
<body>
	<div class="header">
		<div class="header_inner">
			<div class="logo"><a href="@@{index}"><img src="@@{imgpath}/static/images/logo.png"></a></div>
			<ul class="nav">	
				<li><a href="register.html">免费开户</a></li>
				<li><a href="promo.html">会员优惠</a></li>
				<li><a href="javascript:;">代理合作</a></li>
				<li><a href="javascript:;">在线客服</a></li>
				<li class="lastLi"><a href="javascript:;" onclick="AddFavorite('url','tittle')">收藏UED</a></li>
			</ul>
			<div class="clear"></div>
		</div>
	</div>
	<div class="banner"></div>
	<div class="main">
		<div class="box1">
			<div class="expressLane">
				<h3><img src="@@{imgpath}/static/images/expresslane.png"></h3>
				<ul class="urlspeed">
				
				</ul>
				<div class="clear"></div>
			</div>
		</div>
		<div class="box2">
			<div class="advantage">
				<h3><img src="@@{imgpath}/static/images/tese.png"></h3>
				<ul>
					<li class="two">
						<dl>
							<dt></dt>
							<dd>极速提款</dd>
							<dd>多类游戏平台</dd>
							<dd>本土化产品设计</dd> 
						</dl>
					</li>
					<li class="one">
						<dl>
							<dt></dt>
							<dd>倾力赞助西甲联赛、西甲赫塔费、皇家贝蒂斯</dd>
							<dd class="zanzhu">
								<p><img src="@@{imgpath}/static/images/onelogo1.png"></p>
								<p><img src="@@{imgpath}/static/images/onelogo2.png"></p>
								<p><img src="@@{imgpath}/static/images/onelogo3.png"></p>
							</dd>
						</dl>
					</li>
					<li class="three">
						<dl>
							<dt></dt>
							<dd>全平台手机客户端</dd>
							<dd>24小时客服全年无休</dd>
							<dd>人性化定制服务</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
		<div class="box3">
			<div class="aboutUs">
				<h3><img src="@@{imgpath}/static/images/about.png"></h3>
				<div class="establish">
					<div class="establishl"><img src="@@{imgpath}/static/images/tiyu.png"></div>
					<div class="establishr">
						<h3><img src="@@{imgpath}/static/images/chengli.png"></h3>
						<p>2014年7月，正值2014年巴西世界杯举行之际，UEDBET成功登录西班牙足球甲级联赛，成为赫塔菲(加泰)官方合作伙伴。至此，UEDbet<span>成为唯一一家赞助西甲联赛球队的亚洲BC公司。
						</span>
						</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="philosophy">
					<div class="philosophyl">
						<h3><img src="@@{imgpath}/static/images/linian.png"></h3>
						<p>当我们着手创办UEDbet的时候，我们仔细研究了市面上所有博彩公司，发现他们都是以赚钱为目的，从未真正考虑用户需要什么。因此我们把“<span>重新定义博彩各个元素，倾听每个用户的心声，竭力寻求最出色的方式解决真正博彩用户的需求</span>”作为公司的终极目标。每一款新的UEDbet产品上线之前都是经过大量测试后证实最适合亚洲人习惯的博彩产品。UEDbet博彩团队，致力于不断带给你全新的博彩体验！
						</p>
					</div>
					<div class="philosophyr"><img src="@@{imgpath}/static/images/duocai.png"></div>
					<div class="clear"></div>
				</div>
				<div class="cooperation">
					<h3><img src="@@{imgpath}/static/images/cooperation.png"></h3>
					<p>UEDBET相信真诚的商业合作能最大化的打造属于用户自己的游戏生态环境，为每一位用户提供最全面、最优质的游戏是我们不懈的责任与目标。为此，我们<span>以用户体验为原则，公平公正公开为己任</span>，从众多品牌商家中慎密挑选出我们的合作伙伴。未来我们将坚持UEDBET的这些原则，给用户带来更多更精彩的游戏，<span>打造出博彩届属于用户的一股清流</span>。</p>
				</div>
			</div>
		</div>
		<div class="parden"></div>
	</div>
	<div class="footer">
	  <footer class="footer-bar">
	    <div class="container">
	      <div class="row footer-row">
	        <div class="col-3-1 footer-item">
	          <a class="bds-jt-logo pull-left" href="http://www.realbetisbalompie.es/es/" target="_blank"></a>
	          <p>2015-2016赛季西甲联赛赞助商</p>
	          <a class="bds-jt-title" href="http://www.realbetisbalompie.es/es/" target="_blank"></a>
	          <ul class="list-inline">
	            <li>
	              <a href="./help/surport.html" target="_blank">赞助信息</a></li>
	            <li>
	              <a href="./help/odds.html" target="_blank">赔率收录</a></li>
	            <li>
	              <a href="http://baike.baidu.com/view/1010521.htm?fromtitle=%E7%9A%87%E5%AE%B6%E8%B4%9D%E8%92%82%E6%96%AF&amp;fromid=1345560&amp;type=syn" target="_blank">皇家贝蒂斯百科</a></li>
	          </ul>
	        </div>
	        <div class="col-3-1 footer-item">
	          <a class="htf-jt-logo pull-left" href="http://www.getafecf.com/" target="_blank"></a>
	          <p>2014-2015赛季西甲联赛赞助商</p>
	          <a class="htf-jt-title" href="http://www.getafecf.com/" target="_blank"></a>
	          <ul class="list-inline">
	            <li>
	              <a href="./help/surport.html" target="_blank">赞助信息</a></li>
	            <li>
	              <a href="./help/poloshirt.html" target="_blank">球衣发布</a></li>
	            <li>
	              <a href="./help/banner.html" target="_blank">祝皇马.巴萨踢出真爱</a></li>
	          </ul>
	        </div> 
	        <div class="col-3-1 footer-item none-bg">
	          <a href="javascript:void(0);" target="_blank">
	            <div class="live-jt-logo"></div>
	            <div class="live-jt-title"></div>
	          </a>
	          <div>提供西甲、西乙、日职联、K联赛等数万场高清体育直播
	            <br>唯一有实力赞助西甲并提供手机体育直播的亚洲顶级公司</div>
	          <ul class="list-inline">
	            <li>
	              <a href="./sports.html" target="_blank" class="ft_liveevent">五大联赛投注</a></li>
	            <li>
	              <a href="./sports.html" target="_blank">欧冠投注</a></li>
	            <li>
	              <a href="./sports.html" target="_blank">世界杯外围预选赛</a></li>
	          </ul>
	        </div>
	      </div>
	    </div>
	  </footer>
	</div>
	<ul class="urlhtml"></ul>
<script src="@@{jspath}/static/scripts/jquery-1.11.3.min.js"></script>
<script src="@@{jspath}/static/scripts/underscore-min.js"></script>
<script src="@@{jspath}/static/scripts/backbone-min.js"></script>
<script src="@@{jspath}/static/scripts/landingPage.js"></script>
<script type="text/javascript">
function AddFavorite(url, title) {
    if (url == "" || typeof url === "undefined") {
        url = location.href;
    }
    if (title == "" || typeof title === "undefined") {
        title = document.title;
    }
    try {
        window.external.addFavorite(url, title);
    } 
    catch (e) {
        try {
            window.sidebar.addPanel(title, url, "");
        } 
        catch (e) {
            alert("抱歉，您所使用的浏览器无法完成此操作，请使用Ctrl+D进行添加");
        }
    }
}
var url = ""
var getHttpModel = Backbone.Model.extend();
var NewHttpModel = new getHttpModel;
NewHttpModel.save(null,{
	url:RootUrl+"/?d=api&c=domain&m=getdomainlist",
	error:function(){
		console.log("获取域名失败")
	},
	success:function(model,xhr){
        if(xhr.status==1){
        	var tim = 1
			setInterval("tim++", 100)//100毫秒
			var b = 1
            for(var i=0;i<xhr.data.list.length;i++){
               url +="<li>"+xhr.data.list[i].domain_name+"</li>"
            }
            $(".urlhtml").html(url)
        }    
	}
})
// $(function(){
// 	var NewArr = new Array()
// 	var tim = 1
// 	var b = 1
// 	setTimeout(function(){
// 		for(var i=0;i<$(".urlhtml").find("li").length;i++){
// 			NewArr[i]=$(".urlhtml").find("li").eq(i).html()
// 		}
// 		setInterval(function(){
// 			tim++
// 		}, 100)//100毫秒
// 		function butt() {
// 		    var html = '';
// 		    for (var i = 1; i < NewArr.length; i++) {
// 		//<li class="fast1"><a href="###"></a><span></span></li>
// 				var className = "fast"+i
// 				if(i>4){
// 					className = "hideLi"
// 				}else if(i==4){
// 					className = "last fast"+i
// 				}
// 		        html += "<li class='urlLi "+className+"'>"
// 		        	 +"<a class=href" + i + "  target=_blank>"
// 		        	 +"<span class='url url" + i + "'>测试中……</span>"
// 		        	 +"<span class='text txt" + i + "'></span>"           
// 		        	 +"</a></li>";
// 		    }
// 		    $(".urlspeed").html(html);
// 		    $(".url").hide();
// 		    $(".hideLi").hide();
// 		}
// 		setTimeout(function(){
// 			$(".urlLi").find("a").mouseover(function(){
// 				$(this).find(".text").show()
// 			})
// 			$(".urlLi").find("a").mouseout(function(){
// 				$(this).find(".text").hide()
// 			})
// 		},10)


// 		butt();
// 		function auto(url) {
// 		    $(".url" + b).html(url);
// 		    $(".href" + b).attr('href', url);
// 		    if (tim > 100)//超时设置
// 		    {
// 		        $(".txt" + b).html("链接超时")
// 		    }
// 		    else {
// 		        $(".txt" + b).html(tim / 10 + "S");
// 		    }
// 		    b++
// 		}
// 		function run() {
// 			console.log("img")
// 		    for (var j = 1; j < NewArr.length; j++) {
// 		    	console.log(NewArr[j])
// 		        $(".urlspeed").find("li").append("<img style='display:none' src=http://" + NewArr[j] + "/" + Math.random() + " width=1 height=1 onerror=auto('http://" + NewArr[j] + "')>")

// 		    }
// 		}
// 		run();





// 	},1000)

// })


var tim = 1
setInterval("tim++", 100)//100毫秒
var b = 1
var autourl = new Array()
autourl[1] = "www.abc.com"
autourl[2] = "www.sina.com.cn"
autourl[3] = "www.bbc.com.cn"
autourl[4] = "www.abc.com/abc/def"
autourl[5] = "www.go.com/cn/abc.php"
autourl[6] = "www.abcd.com"
autourl[7] = "www.def.com"
autourl[8] = "www.feifei.com"
function butt() {
    var html = '';
    for (var i = 1; i < autourl.length; i++) {
//<li class="fast1"><a href="###"></a><span></span></li>
		var className = "fast"+i
		if(i>4){
			className = "hideLi"
		}else if(i==4){
			className = "last fast"+i
		}
        html += "<li class='urlLi "+className+"'>"
        	 +"<a class=href" + i + "  target=_blank>"
        	 +"<span class='url url" + i + "'>测试中……</span>"
        	 +"<span class='text txt" + i + "'></span>"           
        	 +"</a></li>";
    }
    $(".urlspeed").append(html);
    $(".url").hide();
    $(".hideLi").hide();
}
setTimeout(function(){
	$(".urlLi").find("a").mouseover(function(){
		$(this).find(".text").show()
	})
	$(".urlLi").find("a").mouseout(function(){
		$(this).find(".text").hide()
	})
},10)


butt();
function auto(url) {
    $(".url" + b).html(url);
    $(".href" + b).attr('href', url);
    if (tim > 100)//超时设置
    {
        $(".txt" + b).html("链接超时")
    }
    else {
        $(".txt" + b).html(tim / 10 + "S");
    }
    b++
}
function run() {
    for (var i = 1; i < autourl.length; i++) {
        document.write("<img style='display:none' src=http://" + autourl[i] + "/" + Math.random() + " width=1 height=1 onerror=auto('http://" + autourl[i] + "')>")

    }
}
run();

</script>
</body>
</html>