@@include("./layout/header-sun.html" , {
      tit:"优惠",
})
@@include("./layout/noticeLayout.html")
<style type="text/css">
body{
	background:#f7f7f7;
}
	.goTop{
		position:fixed;
		bottom:80px;
		left:50%;
		margin-left: 530px;
		display: none;
		cursor: pointer;
	}
</style> 
<section class="promo">
	<div class="container">
		<div class="promo-box">
			<div class="promo-box-inside">
				<div class="promo-item">
					<div class="item-box">
						<dl class="sidePromo">
							<dt>
								<img src="@@{imgpath}/static/images/eventb5.png">
							</dt>
							<dd class="promo-content" style="display: none;">
								<img src="@@{imgpath}/static/images/b13.png">
							</dd>
						</dl>
					</div>
				</div>
				<div class="promo-item">
					<div class="item-box">
						<dl class="sidePromo">
							<dt>
								<img src="@@{imgpath}/static/images/eventb4.png">
							</dt>
							<dd class="promo-content" style="display: none;">
								<img src="@@{imgpath}/static/images/b13.png">
							</dd>
						</dl>
					</div>
				</div>
				<div class="promo-item">
					<div class="item-box">
						<dl class="sidePromo">
							<dt>
								<img src="@@{imgpath}/static/images/eventb3.png">
							</dt>
							<dd class="promo-content" style="display: none;">
								<img src="@@{imgpath}/static/images/b13.png">
							</dd>
						</dl>
					</div>
				</div>
				<div class="promo-item">
					<div class="item-box">
						<dl class="sidePromo">
							<dt>
								<img src="@@{imgpath}/static/images/eventb2.png">
							</dt>
							<dd class="promo-content" style="display: none;">
								<img src="@@{imgpath}/static/images/b13.png">
							</dd>
						</dl>
					</div>
				</div>
				<div class="promo-item">
					<div class="item-box">
						<dl class="sidePromo">
							<dt>
								<img src="@@{imgpath}/static/images/eventb1.png">
							</dt>
							<dd class="promo-content" style="display: none;">
								<img src="@@{imgpath}/static/images/b13.png">
							</dd>
						</dl>
					</div>
				</div>

			
			</div>



			<!--<div class="goTop"><img src="@@{imgpath}/static/images/gotop.png"></div>-->
		</div>
		<!--
		<div class="promoTip" style="display: none">
			<style>.bootstrap-dialog .bootstrap-dialog-title{text-align:left}</style>
			<div class="row">
				<div class="col-12-12">
					<h3 class="text-center text-info _fail" style="display: none">申请失败</h3>
					<h3 class="text-center text-info _success" style="display: none">申请成功</h3>
					<div class="_msg"></div>
					<p class="text-center text-muted _next" style="display: none">下次申请时间：<span class="_next" style="display: none"></span>
					</p>
				</div>
			</div>
		</div>-->
	</div>
	
</section>
@@include("./layout/footer-sun.html")
<script type="text/javascript" src="@@{jspath}/static/scripts/gui-ued.min.js"></script>
<script type="text/javascript" src="@@{jspath}/static/scripts/promo.js"></script>
</body>
</html>