@@include("./layout/header-sun.html" , {
      tit:"体育",
})
@@include("./layout/noticeLayout.html")
<style type="text/css">
	.container{
		margin-top: 0px;
	}
</style>
<main style="height: 1042px;">
	<section class="sports">
		<div class="sports-box shadow hg" style="height: 1000px;">
			<div class="bulk-frame">
				<iframe src="" id="sportFrame" scrolling="yes" src="http://picacdquoteamp0.com?LanguageCode=chs" frameborder="0" allowtransparency="true" style="height:1000px;width:1150px;">
				</iframe>
				<!--
				<div class="quick-promo">
					<a href="@@{views}promo.html">
					<span class="promo-links"></span>体育优惠</a>
				</div>
				<span class="sports-hg-fix"></span>
				-->
			</div>
			
		</div>
	</section>
</main>
@@include("./layout/footer-sun.html")	
<script type="text/javascript" src="@@{jspath}/static/scripts/sports.js"></script>
</body>
</html>