@@include("./layout/header.html" , {
      tit:"注册成功",
})
	<link rel="stylesheet" type="text/css" href="@@{csspath}/static/styles/successRegistration.css">
	<div class="banner">
		<div class="banner_inner">
			<dl>
				<dt>亲爱的<span class="username"></span>,您的账户建立成功啦！</dt>
				<dd>在UEDbet每位用户只允许拥有一个真实账户，我们利用全世界最先进的检测软件随时监控，一旦发现拥有多账户者，我们将会冻结所有旗下账号。</dd>
			</dl>
		</div>
	</div>
	<div class="main">
		<div class="main_inner">
			<ul>
				<li class="huikui">
					<dl class="num">
						<dt><span class="bangdin">30</span>元</dt>
						<dd>绑定真实姓名、手机、邮箱可获得奖金</dd>
						<dd class="button"><a href="@@{views}personalCenter.html" class="bangdinBtn btn btn-default">立即绑定</a></dd>
					</dl>
					<div class="middle">
						<p>UEDbet只允许用户拥有一个游戏账号，绑定真实姓名、手机号码和电子邮箱后不仅可以获得免费奖励，还能享受在线存款，找回密码和参加优惠等优质服务。</p>
					</div>
					<dl class="bottom">
						<dt>点滴得感恩回馈</dt>
						<dd>精确度量的每一次活动<br>可为您攒下一笔不小得资本</dd>
						<dd class="firstbg"></dd>
					</dl>
				</li>
				<li class="chuanxin">
					<dl class="num">
						<dt><span>1888</span>元</dt>
						<dd>注册后首存可获优惠金额</dd>
						<dd class="button"><a href="@@{views}recharge.html" class="bangdinBtn btn btn-primary">快速存款</a></dd>
					</dl>
					<div class="middle">
						<p>首次注册并存款不低于100元的玩家可跟在线客服进行申请最高1888元的首存红利，红利只需18倍本金与红利流水即可提款。<a target="_blank" href="http://chat.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=651273&configID=45233&jid=8622492600">联系客服</a></p>
					</div>
					<dl class="bottom">
						<dt>前无古人的创新</dt>
						<dd>资金每一步动态您都知道</dd>
						<dd class="secendbg"></dd>
					</dl>
				</li>
				<li class="usephone">
					<dl class="num">
						<dt><span>3</span>种</dt>
						<dd>全面支持PC、平台、手机平台</dd>
						<dd class="button"><a href="javascript:;" class="bangdinBtn btn btn-default">手机投注</a></dd>
					</dl>
					<div class="middle">
						<h4>颠覆性产品 :</h4>
						<p>UEDbet通过最先进的Html5技术将大部分产品进行了整合，全面实现了PC、平板和手机多平台覆盖。让你不论走到哪都能享受我们最优质的服务。</p>
					</div>
					<dl class="bottom">
						<dt>随时随地的娱乐</dt>
						<dd>产品均已实现多终端覆盖</dd>
						<dd class="thirdbg"></dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
@@include("./layout/footer.html")
<script src="@@{jspath}/static/scripts/jquery-1.11.3.min.js"></script>
<script src="@@{jspath}/static/scripts/gui-base.js"></script>
<script type="text/javascript" src="@@{jspath}/static/scripts/bootstrap-dialog.min.js"></script>
<script src="@@{jspath}/static/scripts/successRegister.js"></script>
</body>
</html>