<!DOCTYPE html>
<html lang="en" data-livestyle-extension="available"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>服务器维护</title>
    <link rel="stylesheet" href="@@{csspath}/static/styles/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="@@{csspath}/static/styles/error.css" type="text/css">
    <style>

    </style>
</head>

<body class="mainbg" style="background-color:#272b30;min-height: 600px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-2x text-center text-white">
                <h1 class="text-shadow no-margin text-3x p-v-lg"> <span class="text-2x font-bold m-t-lg">维护中</span><p class="text-lg"></p> </h1>
                <h4 class="font-bold m-v-md">抱歉!服务器正在维护中。</h4>
                <div class="p-v-lg"> 
                    <a href="@@{index}" class="btn btn-danger btn-lg p-h-lg font-bold">返回首页</a> 
                    <a href="http://chat.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=651273&configID=45233&jid=8622492600" class="btn btn-danger btn-lg p-h-lg font-bold">联系客服</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>