@@include("footer-sun.html")
<script type="text/javascript" src="@@{helpimg}/static/scripts/help.js"></script>
<!--
<div class="indexPob">
  <h3><p>合法执照</p><span class="closePob"></span><br class="clear"></h3>
  <ul>
    <li><img src="@@{imgpath}/static/images/zhizhao1.png"></li>
    <li><img src="@@{imgpath}/static/images/zhizhao2.png"></li>
  </ul>
  <br class="clear">
</div>
<div class="zhizhaomask"></div>
<div class="loginpob success pob">
    <h3><p>消息</p><span class="close"></span><div class="clear"></div></h3>
    <dl>
      <dt></dt>
      <dd></dd>
    </dl>
    <a class="loginsure success">确定</a>
</div>
<div class="pob accountNumber">
    <h3><p>找回用户名</p><span class="close"></span><div class="clear"></div></h3>
    <h5>请按照以下步骤找回用户名：</h5>
    <div class="step">
      <ul class="stepfont">
        <li class="fulfill">联系客服</li>
        <li>核对资料</li>
        <li>审核通过</li>
        <li class="stepLast">完成</li>
      </ul>
      <div class="clear"></div>
      <ul class="stepbg">
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="toKefu">
      <p>客服人员将根据您提供的信息，在核实您身份之后，告知您的账号。</p>
      <a class="online_kefu" target="_blank" href="http://chat.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=651273&configID=45233&jid=8622492600">立即联系</a>
    </div>
</div>    
<div class="pob findpassword">
    <h3><p>找回密码</p><span class="close"></span><div class="clear"></div></h3>
    <h5>请按照以下步骤找回密码：</h5>
    <div class="step">
      <ul class="stepfont">
        <li class="fulfill">输入用户名</li>
        <li>身份验证</li>
        <li>修改密码</li>
        <li class="stepLast">完成</li>
      </ul>
      <div class="clear"></div>
      <ul class="stepbg">
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="formcont form1">
      <div class="findusername">
        <span>用户名：</span>
        <input type="text" name="" id="findUsername">
        <p class="clear"></p>
        <span class="error"></span>
      </div>
      <div class="findcode">
        <span>验证码：</span>
        <input type="text" name="" id="findCode">
        <span id="verificationCode"><img src=""></span>
        <span class="noSee">看不清</span>
        <p class="clear"></p>
        <span class="error"></span>
      </div>
      <a class="nextstep" href="javascript:;">下一步</a>
    </div>
    <div class="formcont form2">
        <p>请选择找回密码的方式：</p>
        <ul class="chooseType">
          <li class="activeType emailType"><i></i><span>通过绑定邮箱找回</span></li>
          <li class="questionType"><i></i><span>通过安全问题找回</span></li>
          <li class="securitycode"><i></i><span>通过资金密码找回</span></li>
          <li class="kefu"><a href="http://chat.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=651273&configID=45233&jid=8622492600" target="_blank"><i></i><span>联系在线客服</span></a></li>
        </ul>
        <div class="clear"></div>
        <a class="nextstep" href="javascript:;">下一步</a>
    </div>
    <div class="formcont form3">
      <div class="emailBox formBox">
        <p class="emailTips"></p>
        <div class="safeemail">
          <span>邮箱：</span>
          <input type="text" name="" id="emailaddr">
          <p class="clear"></p>
        </div>
        <div class="emailCode">
          <span>验证码：</span>
          <input type="text" name="" id="emailCode">
          <button id="getCode">获取验证码</button>
          <p class="clear"></p>
          <p class="err"></p>
        </div>
        <ul class="gostep">
          <li class="prestep">返回上一步</li>
          <li class="nextstep">下一步</li>
        </ul> 
      </div>
      <div class="questionBox formBox">
        <div class="forminput">
          <span>安全问题：</span>
          <select id="questionName"></select>
          <p class="clear"></p>
        </div>
        <div class="forminput">
          <span>答案：</span>
          <input id="answer" placeholder="请输入问题的答案">
          <p class="clear"></p>
          <p class="err"></p>
        </div> 
        <ul class="gostep">
          <li class="prestep">返回上一步</li>
          <li class="nextstep">下一步</li>
        </ul> 
      </div>  
      <div class="securitycodeBox formBox">
        <div class="forminput">
          <span>资金密码：</span>
          <input type="password" name="" id="securitycode">
          <p class="clear"></p>
        </div>
        <ul class="gostep">
          <li class="prestep">返回上一步</li>
          <li class="nextstep">下一步</li>
        </ul> 
      </div> 
        
    </div>
    <div class="formcont form4">
      <div class="findNewpassword">
        <span>设置新密码：</span>
        <input type="password" id="setNeword" name="">
        <p class="error"></p>
        <p class="clear"></p>
      </div>
      <div class="proNewpassword">
        <span>确认新密码：</span>
        <input type="password" id="prosetNeword" name="">
        <p class="error"></p>
        <p class="clear"></p>
      </div>
      <a class="nextstep" href="javascript:;">下一步</a>
    </div>
    <div class="formcont form5">
      <dl>
        <dt></dt>
        <dd></dd>
      </dl>
      <a class="closepob" href="javascript:;">关闭</a>
    </div>
</div>
<div class="mask"></div>
<footer class="footer-bar">
    <div class="container">
        <div class="row footer-row">
            <div class="col-3-1 footer-item">
                <a class="bds-jt-logo pull-left" href="http://www.realbetisbalompie.es/es/" target="_blank"></a>
                <p>2015-2016赛季西甲联赛赞助商</p>
                <a class="bds-jt-title" href="http://www.realbetisbalompie.es/es/" target="_blank"></a>
                <ul class="list-inline">
                    <li><a href="surport.html" target="_blank">赞助信息</a></li>
                    <li><a href="odds.html" target="_blank">赔率收录</a></li>
                    <li><a href="http://baike.baidu.com/view/1010521.htm?fromtitle=%E7%9A%87%E5%AE%B6%E8%B4%9D%E8%92%82%E6%96%AF&amp;fromid=1345560&amp;type=syn" target="_blank">皇家贝蒂斯百科</a></li>
                </ul>
            </div>
            <div class="col-3-1 footer-item">
                <a class="htf-jt-logo pull-left" href="http://www.getafecf.com/" target="_blank"></a>
                <p>2014-2015赛季西甲联赛赞助商</p>
                <a class="htf-jt-title" href="http://www.getafecf.com/" target="_blank"></a>
                <ul class="list-inline">
                    <li><a href="surport.html" target="_blank">赞助信息</a></li>
                    <li><a href="poloshirt.html" target="_blank">球衣发布</a></li>
                    <li><a href="banner.html" target="_blank">祝皇马.巴萨踢出真爱</a></li>
                </ul>
            </div>
            <div class="col-3-1 footer-item none-bg">
                <a href="javascript:void(0);" target="_blank">
                    <div class="live-jt-logo"></div>
                    <div class="live-jt-title"></div>
                </a>
                <div>提供西甲、西乙、日职联、K联赛等数万场高清体育直播
                    <br>唯一有实力赞助西甲并提供手机体育直播的亚洲顶级公司</div>
                <ul class="list-inline">
                    <li><a href="sports.html" target="_blank" class="ft_liveevent">五大联赛投注</a></li>
                    <li><a href="sports.html" target="_blank">欧冠投注</a></li>
                    <li><a href="sports.html" target="_blank">世界杯外围预选赛</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script>
    window.top.language = "en-US";
</script>
<div class="floatr">
  <ul>
    <li class="right_online"><a target="_blank" href="http://chat.livechatvalue.com/chat/chatClient/chatbox.jsp?companyID=651273&configID=45233&jid=8622492600">客服</a></li>
    <li class="right_qq">QQ</li>
    <li class="right_phone">电话</li>
    <li class="qqBox"></li>
    <li class="phoneBox"></li>
  </ul>
  <p class="right_line"></p>
</div>
<script src="@@{helpimg}/static/scripts/jquery-1.11.3.min.js"></script>
<script src="@@{helpimg}/static/scripts/underscore-min.js"></script>
<script src="@@{helpimg}/static/scripts/backbone-min.js"></script>
<script src="@@{helpimg}/static/scripts/gui-ued.min.js"></script>
<script src="@@{jspath}/static/scripts/bootstrap-dialog.min.js"></script>
<script src="@@{helpimg}/static/scripts/public.js"></script>
-->
<!-- <script src="@@{jspath}/static/scripts/moment.js"></script> -->
<!--
<script type="text/javascript" src="@@{helpimg}/static/scripts/help.js"></script>
<script src="@@{helpimg}/static/scripts/login.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91754458-1', 'auto');
  ga('send', 'pageview');

</script>-->