    <div class="perTop">
      <div class="bindPhone">
        <canvas class="loader"></canvas>
        <p class="percent"><span>0</span>%</p>
        <p>完善资料奖30元</p>
        <dl class="zhishu">
          <dt>个人中心</dt>
          <dd>安全指数</dd>
        </dl>
      </div>
      <div class="per_xinxi">
        <p><span class="time"></span><span class="userName">qwerty001</span><span class="hui">看球时间别忘了来UED体育投两把。</span></p>
        <ul>
          <li>真实姓名：<span class="realName">于**</span><a class="goName" href="@@{views}personalcenter.html">填写真实姓名领取获取5元礼金</a></li>
          <li>手机号码：<span class="mobileNumber"></span><a class="goMobile" href="@@{views}personalcenter.html">绑定并验证手机领取15元礼金</a></li>
          <li>注册邮箱：<span class="emailNumber">95372***9@qq.com</span><a class="goEmaile" href="@@{views}personalcenter.html">绑定并验证邮箱领取10元礼金</a></li>
          <li>上次登录：<span class="regtime">34分钟前</span></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
    <div class="main">
      <ul class="main_l">
        <li class="main_l1">
          <a href="@@{views}per_message.html">
            <dl class="notice1">
              <dt>消息中心</dt>
              <dd>您有（<span class="xiaoxi"></span>）条新的消息</dd>
            </dl>
          </a>
        </li>
        <li class="main_l2">
          <a href="@@{views}coupon.html">
            <dl class="youhuiquan">
              <dt>优惠券</dt>
              <dd>使用优惠券</dd>
            </dl>
          </a>
        </li>
        <li class="main_l3">
          <a href="@@{views}personalCenter.html">
            <dl class="safeshezhi">
              <dt>安全设置</dt>
              <dd>完成绑定可获30元</dd>
            </dl>
          </a>
        </li>
        <li class="main_l4">
          <a href="@@{views}accountSettings.html">
            <dl class="accountSettings">
              <dt>账号设置</dt>
              <dd>填写收货地址有惊喜</dd>
            </dl>
          </a>
        </li>
        <li class="main_l5">
          <a href="@@{views}per_betting.html">
            <dl class="touzhujilu">
              <dt>投注记录</dt>
              <dd>提供近30天内数据</dd>
            </dl>
          </a>
        </li>
      </ul>