.banner{
	width:100%;
	height: 460px;
	background:url(../images/slotbanner.png) no-repeat top center;
}
.main{
	background:#0a2946 url(../images/slotnav.png) no-repeat top center;
	margin-top:-10px;
	height: auto
}
.main-container {
	margin-top:12px;
}
.main_inner{
	width: 1200px;
	margin: auto;
	position: relative;
	height: auto;
}
.youhui{
	position: fixed;
	left: 0px;
	top: 286px;
	display: block;
	width: 134px;
	height:116px;
	z-index: 16;
	background: url(../images/youhui.png) no-repeat;
}
.main_inner .sub_nav {
	margin-top: 15px;
}
.main_inner .sub_nav:before {
	content: "";
	display: block;
	width: 100%;
	height: 34px;
	border-image:
		linear-gradient(
		to right,
		rgb(255,199,134),
		rgb(178,70,71) 30%,
		rgb(255,199,134) 40%,
		rgb(178,70,71) 70%,
		rgba(42,0,0,1) 100%
		) 1 0%;
	border-width: 0 0 1px 0;
	border-style: solid;
	position: absolute;
	z-index: -1;
}
.main_inner .sub_nav li{
	float: left;
	width: 132px;
	height: 34px;
	position: absolute;
	padding-top:4px;
	font-weight:bold;
	letter-spacing:1px;
	cursor: pointer;
	border: 1px solid transparent;
	background: -webkit-linear-gradient(white, #FFBF86);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main_inner .sub_nav li:hover, .main_inner .sub_nav li.cur{
	border-image:
		linear-gradient(to right, white, #6F6176) 1 20%;
	border-width: 1px 1px 0 1px;
	border-style: solid;
}
.main_inner .sub_nav li:hover:before, .main_inner .sub_nav li.cur:before{
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 29px;
	border-bottom: 4px solid #2A0000;
}

.main_inner .sub_nav .hot{
	left: 0px;
}
.main_inner .sub_nav .hot:hover{
}
.main_inner .sub_nav .hot.cur{
}
.main_inner .sub_nav .pt{
	left: 132px;
}
.main_inner .sub_nav .pt:hover{
}
.main_inner .sub_nav .pt.cur{
}
.main_inner .sub_nav .mg{
	left:264px;
}
.main_inner .sub_nav .mg:hover, .main_inner .sub_nav .mg.cur{

}
.main_inner .sub_nav .xin{
	left: 396px;
}
.main_inner .sub_nav .xin:hover{
}
.main_inner .sub_nav .xin.cur{
}
.prizePool{
	float: left;
	padding: 33px 20px 0px 0px;
	background: url(../images/slotmachine_pool.png) no-repeat;
	width: 360px;
	height: 100px;
	background-position: left -40px;
	padding: 46px 0 0 41px;
}
.prizetit{float: left; line-height: 30px;font-size: 14px; color:#000;}
#num-roll {float: left;height: 30px;}
#num-roll .num{margin: 0 2px;}
#num-roll .num div {
	height: 30px;
	width: 19px;
}
#num-roll .num div.isPicture {
	width: 19px;
	height: 30px;
	text-indent: -600px;
	background: url('../images/numpic.png') no-repeat;
}
#num-roll div.isPicture.num0 {
	background-position: 0px center;
}
#num-roll div.isPicture.num1 {
	background-position: -19px center;
}
#num-roll div.isPicture.num2 {
	background-position: -38px center;
}
#num-roll div.isPicture.num3 {
	background-position: -57px center;
}
#num-roll div.isPicture.num4 {
	background-position: -76px center;
}
#num-roll div.isPicture.num5 {
	background-position: -95px center;
}
#num-roll div.isPicture.num6 {
	background-position: -114px center;
}
#num-roll div.isPicture.num7 {
	background-position: -133px center;
}
#num-roll div.isPicture.num8 {
	background-position: -152px center;
}
#num-roll div.isPicture.num9 {
	background-position: -171px center;
}
#num-roll{
	position: relative;
}
#num-roll .dou{
	position: absolute;
	right: 46px;
	color: #000;
	font-size: 20px;
}
#num-roll .dou1{
	position: absolute;
	right: 122px;
	color: #000;
	font-size: 20px;
}
#num-roll .dou2{
	position: absolute;
	right: 198px;
	color: #000;
	font-size: 20px;
}


.myroll1 {height: 20px; margin-bottom: 8px; float: right;}
.myroll1 .num{margin: 0 1px;}
.myroll1 .num div {
	height: 20px;
	width: 13px;
}
.myroll1 .num div.isPicture {
	width: 13px;
	height: 20px;
	text-indent: -600px;
	background: url('../images/smallnum.jpg') no-repeat;
}
.myroll1 div.isPicture.num0 {
	background-position: 0px center;
}
.myroll1 div.isPicture.num1 {
	background-position: -13px center;
}
.myroll1 div.isPicture.num2 {
	background-position: -26px center;
}
.myroll1 div.isPicture.num3 {
	background-position: -39px center;
}
.myroll1 div.isPicture.num4 {
	background-position: -52px center;
}
.myroll1 div.isPicture.num5 {
	background-position: -65px center;
}
.myroll1 div.isPicture.num6 {
	background-position: -78px center;
}
.myroll1 div.isPicture.num7 {
	background-position: -91px center;
}
.myroll1 div.isPicture.num8 {
	background-position: -104px center;
}
.myroll1 div.isPicture.num9 {
	background-position: -117px center;
}
.content{
	width: 1200px;
	float: left;
	position: relative;
}
.contentList{
	display: none;
	padding-top: 20px;
	background: #faf7f7;
	width: 150%;
	float: left;
	padding-left: 17px;
	margin-left: -1px;
	float: left;
}
.hotlist{
	display: block;

}
.bigpic{
	height: 370px;
	width: 321px;
	float: left;
	cursor: pointer;
}
.smallpic{
	height: 154px;
	width:152px;
	float: left;
	cursor: pointer;
	position: relative;
}

.gameTab{
	display: none;
	position: absolute;
	left: 0px;
	bottom:-7px;
	width: 100%;
	height:46px; 
	background:#f39c51;
}
.gameTab li{
	list-style: none;
	width: 40%;
	height: 36px;
	margin:0 5%;
	border-radius: 3px;
	background: #2b8aef;
	float: left;
	color: #fff;
	text-align: center;
	line-height: 36px;
}
.picbox{
	position: relative;
}
.picbox .cover{
	/*display: none;*/
	width: 100%;
	height:0;
	position: absolute;
	left: 0;
	top: 0px
}
.picbox .coverBg{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background:#2b8aef;
	z-index: 3;
	opacity: 0.8;
}
.covertit{
	display: none;
	position: absolute;
	width: 100%;
	height:30%; 
	text-align: center;
	z-index: 4;
	top:45%;
	left: 0;
	color: #fff;
} 
.bigpic p{
	text-align: center
}
.smallpic p{
	text-align: center;
	margin-bottom: 13px;
	clear: both;
        color: white;
}
.smallpic img{
	width: 90%;
	height:105px;
}
.bigpic img{
	width: 100%;
	height: 310px;
}
.news{
	clear: both;
	height: 210px;
	width: 168px;
	position: absolute;
	bottom:0px;
	right: -76px;
	overflow: hidden;
	z-index: 16;
}
.news_inner{
	height: 475px;
	height: 210px;
	position: absolute;
	overflow: hidden;
}
.news_inner li{float:left; width: 168px}
.box{
	height: 81px;
	border-radius: 5px;
	padding:14px 0px 0px 18px;
	position: relative;
	margin-bottom: 7px;
}
.box .close{
	position: absolute;
	right: 5px;
	top: 6px;
	font-size: 14px;
	font-weight: normal;
}
.green{
	background:rgba(16,171,114,0.9);
}
.box p{
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 0
}
.box p span{
	color:#ffffff;
}
.green p{
	color: #7dfbc3
}
.green .close{
	color:#7ed2b3
}
.pink{
	background: rgba(221,19,135,0.9);
}
.pink p{
	color:#ffb6e0
}
.pink .close{
	color:#ed7fbe
}
/**æ¡ä»¶ç­›é€‰**/
.select{
	padding:5px 10px;
	border:#ddd 1px solid;
	border-radius:4px;
	width:100%;
	font-size:12px;
	margin:0px;
}
.select li{
	list-style:none;
	padding:10px 0 5px 100px
}
.select .select-list{
	border-bottom:#eee 1px dashed
}
.select dl{
	zoom:1;
	position:relative;
	line-height:24px;
}
.select dl:after{
	content:" ";
	display:block;
	clear:both;
	height:0;
	overflow:hidden
}
.select dt{
	width:100px;
	margin-bottom:5px;
	position:absolute;
	top:0;
	left:-100px;
	text-align:right;
	color:#666;
	height:24px;
	line-height:24px
}
.select dd{
	float:left;
	display:inline;
	margin:0 0 5px 5px;
}
.select a{
	display:inline-block;
	white-space:nowrap;
	height:24px;
	padding:0 10px;
	text-decoration:none;
	color:#666666;
	border-radius:2px;
	line-height: 24px;
}
.select a:hover{color:#fff;background-color:#0088ff}
.select .selected a{color:#fff;background-color:#0088ff}
