/* Real --------------------------------------------------------------------- */
/*
.index-slide {height: 318px !important;}
.slide-inner {height: 320px !important;}*/
.entertainment .banner:before {
    content: "";
    width: 100%;
    height: 316px;
    position: absolute;
    background: linear-gradient(to right, rgba(39,3,7,1) 0%, rgba(39,3,7,0) 5%, rgba(39,3,7,0) 5%,rgba(39,3,7,1));
}
.index-screen-01 {margin-top: 1em;}
.p2-left-box {width: 408px !important; margin-right: 10px}
.p2-center-box {width: 408px !important; margin-right: 10px}
.p2-right-box {width: 335px !important;}
.p2-item {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.p2-block {
    width: 408px;
    height: 227px;
    position: relative;
    margin-bottom: 10px;
}
.p2-block .rule {
    float:right;
    width: 160px;
    display: block;
    height: 223px;
    background: url(../images/entertainment-rule.png) top right no-repeat;
}
.p2-block .rule:hover {
    background-position: 0 -224px;
}
.p2-block .start {
    margin: 135px 0 0 44px;
    position: absolute;
    width: 109px;
    display: block;
    height: 40px;
}
.p2-pt {background-image: url(../images/entertainment-pt.png);}
.p2-pt:before, .p2-ag:before, .p2-mg:before, .p2-bbin:before {
    content: "进入游戏";
    position:absolute;
    color: white;
    top: 138px;
    display: inline-block;
    left: 50px;
}
.p2-ag {background-image: url(../images/entertainment-ag.png);}
.p2-mg {background-image: url(../images/entertainment-mg.png);}
.p2-bbin {background-image: url(../images/entertainment-bbin.png);}
.p2-experience {
    background: url(../images/p2_experience.gif) no-repeat;
}
.p2-experience img {
    margin-top: 60px;
}
.p2-promotion {
    width: 360px;
    background: url(../images/p2_promotion.gif) no-repeat;
}
.p2-promotion .more {
    width: 100%;
    text-align: right;
    padding-top: 1.5em;
}
.p2-promotion .more a {
    color: #F39C51;
    letter-spacing: 3px;
}
.p2-promotion .more .fa {
    margin-left: .5em;
}
.p2-promotion ul {
    margin-top: 40px;
    width: 360px;
}
.p2-promotion ul li {
    margin-bottom: .9em;
}
.p2-promotion ul li.minor {
    opacity: 0.5;
}
.p2-promotion a {
    color: #bd5f5f;
    transition: all .6s;
    margin: 0 10px;
}
.p2-promotion a:hover {
    outline:0!important
}
.p2-promotion ul li::before {
    content: ">";
    margin: 0 1em 0 2em;
    color: white;
}
.p2-promotion ul li .date {
    display: inline;
    float: right;
    margin-right: 10px;
}

/* Register ----------------------------------------------------------------- */
.register {
    background: url(../images/register_annc_bg.png) no-repeat center top;
}
.register-box {
    background-color: transparent;
    text-align: center;
    border: none;
}
span.title:before,span.title:after {
    content: "．";
    font-size: 24px;

}
div.title {
    text-align: center;
    background: url(../images/register_title.png) no-repeat center center;
    background-size: cover;
    width: 362px;
    height: 70px;
    display: inline-block;
}
.register ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
    opacity: .6;
    text-align: center;
}
.register :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    white;
    opacity: .6;
    text-align: center;
}
.register ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    white;
    opacity: .6;
    text-align: center;
}
.register :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    white;
    opacity: .6;
    text-align: center;
}
.register legend span {
    color: white !important;
    opacity: .8;
    letter-spacing:2px;
}
.register legend span.hasnumber {
    opacity: 1;
}
.register legend {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.register-box {
    min-height: 0;
    margin-bottom: 40px;
}
.register .frame {
    background: url(../images/register_frame.png) no-repeat center top;
    margin-bottom: 2em;
    text-align: center;
    height: 558px;
}
.register label {
    color: #FFF;
}
.register h4 {
    color: white;
    margin: 1em 0 2em 0;
    font-size: 32px;
    display:inline-block;
}
.register button {
    border: none;
    background-color: #2F0001;
}
/* Register Success --------------------------------------------------------- */
.banner-sun {
    width: 100%;
    background: url(../images/register_success_bg.png) top center no-repeat;
    height: 480px;
}

.banner-sun .inner dt {
    padding-top: 65px !important;
}
.banner-sun .inner dd {
    opacity: .7;
}
.main-sun  {
    background-color: transparent !important;
    padding-bottom: 2em;
}
.main-sun .main_inner {
    text-align: center;
    height: 300px !important;
}
.main-sun ul {
    display: inline-block;
    position: relative;
    top: -170px;
}
.main-sun ul {
    color: white !important;
}
.main-sun li {
    position: static !important;
    left: 0;
    top: 0;
    border: none !important;
    width: 349px  !important;
    heiht: 388px  !important;
    background: url(../images/register_success_frame.png) no-repeat !important;
    background-position: center 31% !important; 
    margin: 0 1em;
    padding-top: 2em;
}

.main-sun li .middle {
    border: none !important;
}

.main-sun .num {
    height: auto !important;
}
.main-sun .num dd {
    color: white !important;
    margin-top: 20px;
}
.main-sun .huikui dt {
    background: -webkit-linear-gradient(#A2E8FF 40%, #FFFFFF 60%, #9ED0FF 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-sun .chuanxin dt {
    background: -webkit-linear-gradient(#FF9231 40%, #FFFFFF 60%, #EBBC5B 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-sun .usephone dt {
    color: #FF5F7C !important;
    background: -webkit-linear-gradient(#FF5F7C 40%, #FFFFFF 60%, #DF8761 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-sun .middle p {
    padding: 0 5.2em !important;
    line-height: 3em !important;
}

.main-sun .button {
    margin-top: 20px !important;
}
.main-sun .button a {
    color: white;
}
.main-sun li dd .btn {
    background: #2F0001 !important;
    border: none !important;
}
.main-sun .num dt span {
    display: inline-block;
}
/* Slot Machine ***************************************************************/
.banner-slotm {
    width: 100%;
    height: 285px;
    background: url(../images/slotbanner-sun.png) top center no-repeat;
}
.banner-slotm:before {
    content: "";
    width: 100%;
    height: 285px;
    position: absolute;
    background: linear-gradient(to right, rgba(39,3,7,1) 0%, rgba(39,3,7,0) 5%, rgba(39,3,7,0) 5%,rgba(39,3,7,1));
}
.main.sun-slotm {
    background: none !important;
    width: 100%;
    text-align: center;
}
.main.sun-slotm:before {
    background: url(../images/slotm-right-bg.png) no-repeat;
    background-position-y: 40%;
    background-position-x: 107%;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1200px;
    z-index: -1;
}
.main.sun-slotm .prizePool {
    float: none !important;
    margin-left: 4em;
}
.main.sun-slotm .p2-promotion li{
    color: #bd5f5f !important;
}
.main.sun-slotm  .main-container {
    width: 1200px;
    text-align: center;
    display: inline-block;
}
.main.sun-slotm .main_inner {
    width: 800px;
    display: inline-block;
    vertical-align: top;
}
.main.sun-slotm .main_right {
    background-size: cover;
    width: 360px;
    display: inline-block;
    vertical-align: top;
}
.main.sun-slotm .prizePool {
    height: 286px;
}
#num-roll .num div.isPicture {

    background-image: url(../images/slotm-pool-number.png) !important;
}
.main.sun-slotm .pool-title {
    text-align: left;
    font-size: 2em;
    color: white;
    font-style: italic;
    font-weight: bold;
    background: -webkit-linear-gradient(white 40%, gray 60%, white 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main.sun-slotm .sub_nav {
    text-align: center;
}
.main.sun-slotm .content {width:800px; margin-top: 52px;}
.main.sun-slotm .contentList {background: transparent !important;}
.main.sun-slotm .sub_nav li {
    background: none !important;
    border-bottom: 1px solid black;
    position: absolute;
    display: inline-block;
    padding-top: 10px;
    margin-top: 16px;
    color: white !important;
    font-weight: bold;
    height: 40px !important;
}
.main.sun-slotm .sub_nav .hot {left: 0;}
.main.sun-slotm .sub_nav .pt {left: 132px !important;}
.main.sun-slotm .sub_nav .mg {left: 264px !important;}
.main.sun-slotm .sub_nav .xin {left: 396px !important;}
.main.sun-slotm .sub_nav .lastfix {
    left: 522px !important;
    height: 42px;
    margin-top: 14px;
    position: absolute;
    width: 200px;
    border-bottom: 1px solid black;
    border-image: linear-gradient(to right, black, transparent) 1 0%;
}
.main.sun-slotm .sub_nav .lastfix:before2 {
    content: "";
    height: 40px;
    width: 100%;
    display: inline-block;
    margin-top: 1px;
    /*background: linear-gradient(to right, rgba(39,3,7,1) 0%, rgba(39,3,7,0) 100%);*/
    
    background: linear-gradient(to right, rgba(39,3,7,0) 0%, rgba(39,3,7,1) 100%);
}
.main.sun-slotm .sub_nav li:hover, .main.sun-slotm .sub_nav li.cur {
    border: 1px solid black;
    border-bottom: none;
}
.main.sun-slotm .youhui {visibility: hidden}
.main.sun-slotm .news {
    right: 0px !important;
    bottom: auto !important;
}
.p2-promotion ul li {
    text-align: left;
}
.brown {background-color: #9D5830;}
.brown p {color: #FFBA90;}
.pink2 {background-color: #D84961;}
.pink2 p {color: #FFB6E0;}