.static-bar {
	background:url();
}
.navbar-default {
    background-color: transparent !important;
}
body {
    background-color: #270307 !important;
}
.index-rows-01 {
    height: 198px;
    background: url(../images/screen-01-bg.jpg) no-repeat;
    background-size: cover;
    margin-top: 2px
}
.index-rows-01 .link:before {
    content: ' ';
    display: table;
    display: block;
    width: 220px;
    height: 196px
}
.index-rows-01 .link-1,
.index-rows-01 .link-2,
.index-rows-01 .link-3 {
    height: 200px;
    width: 220px;
    margin: 0 35px;
    display: block;
    float: left
}
.index-rows-01 .link:hover:before {
    background: #fff;
    opacity: .1
}
.index-rows-01 .link-1 {
    background: url(../images/index-s1.png) center center;
    background-size: cover
}
.index-rows-01 .link-2 {
    background: url(../images/index-s2.png) center center;
    background-size: cover
}
.index-rows-01 .link-3 {
    background: url(../images/index-s3.png) center center;
    background-size: cover
}
.index-rows-01 .link-4 {
    background: url(../images/index-s4.png) center center;
    width: 220px;
    height: 178px;
    display: block;
    background-size: cover;
    float: left;
    margin: 0 35px
}
.index-rows-02 {
    height: 217px;
    background: url(../images/screen-02-bg.png) no-repeat;
    background-size: contain;
    margin-top: 2px
}

.top-bar-box {
    line-height: 40px;
    height: 40px
}
.top-bar-box img {
    margin-top: -4px
}
.top-bar-box .top-host {
    padding-right: 30px
}
.top-bar-box a,
.top-bar-box img {
    display: inline
}
.top-bar-box a,.top-bar-box span {
    color: #bd5f5f;
    padding: 0 10px;
    transition: all .6s
}
.top-bar-box a:hover,.top-bar-box span:hover {
    color: #EEE
}
.user-info-box {
    margin-top: 25px;
    margin-right: 5px;
	font-size:12px;
}
.float-left {
    float: left
}
.index-rows-02 .float-left {
    width: 600px;
    display: block;
    height: 217px;
    position: relative
}
.index-rows-02 .float-left .super-money {
    background: url(../images/super-money.png) no-repeat;
    height: 28px;
    margin-top: 50px;
    margin-left: 30px
}
.index-rows-02 .float-left .super-number {
    /*background: url(../images/super-number.png) no-repeat;*/
    height: 34px;
    margin-top: 20px;
    margin-left: 30px
}
.index-rows-02 .float-left .free-play {
    background: url(../images/free-play.png) no-repeat;
    height: 28px;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 20px
}
.sub-casino,
.sub-chess,
.sub-client,
.sub-live,
.sub-lottery,
.sub-sports,
.sub-tiger,
.sub-tryPlay {
    margin-top: -18px;
    position: absolute
}
.index-rows-02 .float-left .play-1 {
    background: url(../images/fp1.png) no-repeat;
    width: 171px;
    height: 89px;
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;
    color: #fff;
    font-size: 15px;
    padding-left: 15px;
    line-height: 57px;
	    transition: all 0.25s ease-in-out;
}
.index-rows-02 .float-left .play-1:hover {
    background: url(../images/fp11.png) -12px -12px;
}
.index-rows-02 .float-left .play-2:hover {
    background: url(../images/fp11.png) -12px -12px;
}
.index-rows-02 .float-left .play-3:hover {
    background: url(../images/fp11.png) -12px -12px;
}
.index-rows-02 .float-left .play-2 {
    background: url(../images/fp1.png) no-repeat;
    width: 171px;
    height: 89px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    color: #fff;
    font-size: 15px;
    padding-left: 15px;
    line-height: 57px;
	    transition: all 0.25s ease-in-out;
}
.index-rows-02 .float-left .play-3 {
    background: url(../images/fp1.png) no-repeat;
    width: 171px;
    height: 89px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    color: #fff;
    font-size: 15px;
    padding-left: 15px;
    line-height: 57px;
	    transition: all 0.25s ease-in-out;
}
._vr_nav .active {
    background: url(../images/menu-active.png) center bottom no-repeat;
    background-size: inherit
}
._vr_nav li {
	text-align:center;
}

.sub-client {
    background: url(../images/menu-download.png) 0 -25px no-repeat;
    width: 336px;
    height: 186px;
    right: 0;
}
.sub-client .link1 {
    width: 173px;
    height: 186px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    color: #333;

}
.sub-client .link1:hover {
    background: url(../images/menu-download-active.png) 30px 7px no-repeat
}
.sub-client .link2 {
    width: 142px;
    height: 186px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    color: #333;
}
.ib {display:inline-block !important;}
.sub-client .link2:hover {
    background: url(../images/menu-download-active.png) -143px 7px no-repeat
}
.sub-sports {
    background: url(../images/menu-sport.png) 0 -25px no-repeat;
    width: 345px;
    height: 186px;
    left: 325px
}
.sub-sports .link1 {
    width: 173px;
    height: 186px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    color: #333;
}
a.only-one {
    margin-top: 85px;
    margin-right: 40px;
    text-align: right;
    display: block;
    color: #333;
}
.link1:hover a.only-one {
	color:#eee;
}
a.only-one-1 {
    margin-top: 75px;
    margin-right: 40px;
    text-align: right;
    display: block;
    color: #333;
}
a.only-one-2 {
    margin-top: 5px;
    margin-right: 40px;
    text-align: right;
    display: block;
    color: #333;
}

.link1:hover a.only-one-1 {
    color: #eee;
}
.link1:hover a.only-one-2 {
    color: #eee;
}

a.one {
    margin-top: 85px;
    margin-right: 13px;
    text-align: right;
    display: block;
    color: #333;
}
a.one-1 {
    margin-top: 70px;
    margin-right: 13px;
    text-align: right;
    display: block;
    color: #333;
}
a.one-2 {
    margin-top: 5px;
    margin-right: 13px;
    text-align: right;
    display: block;
    color: #333;
}
a.two {color:#333;margin-right:15px;text-align:right;}

.link1:hover .one {
	color:#eee;
}

.link2:hover .one,.link2:hover .two {
	color:#eee;
}

.link3:hover .one {
	color:#eee;
}

.link4:hover .one {
	color:#eee;
}

.link1:hover .one-1 {
	color:#eee;
}

.link2:hover .one-1 {
	color:#eee;
}

.link3:hover .one-1 {
	color:#eee;
}

.link4:hover .one-1 {
	color:#eee;
}

.link1:hover .one-2 {
	color:#eee;
}

.link2:hover .one-2 {
	color:#eee;
}

.link3:hover .one-2 {
	color:#eee;
}

.link4:hover .one-2 {
	color:#eee;
}


.sub-sports .link1:hover {
    background: url(../images/menu-sport-active.png) 30px 7px no-repeat
}

.sub-sports .link2 {
    width: 142px;
    height: 186px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    color: #333;

}
.sub-sports .link2:hover {
    background: url(../images/menu-sport-active.png) -143px 7px no-repeat
}

.sub-live {
    background: url(../images/menu-live.png) 0 -19px no-repeat;
    width: 627px;
    height: 180px;
    left: 275px;
}
.sub-live .link2,
.sub-live .link3 {
    height: 186px;

}
.sub-live .link1 {
    width: 173px;
    height: 186px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}
.sub-live .link2,
.sub-live .link3,
.sub-live .link4 {
    width: 143px;
    display: inline-block;
    vertical-align: top;
    text-align: right;

}
.sub-live .link1:hover {
    background: url(../images/menu-live-active.png) 26px 13px no-repeat
}
.sub-live .link2:hover {
    background: url(../images/menu-live-active.png) -147px 13px no-repeat
}
.sub-live .link3:hover {
    background: url(../images/menu-live-active.png) -290px 13px no-repeat
}
.sub-live .link4 {
    height: 186px
}
.sub-casino,
.sub-casino .link1,
.sub-chess,
.sub-chess .link1,
.sub-lottery,
.sub-lottery .link1 {
    width: 202px;
    height: 186px;
    vertical-align: top;
    text-align: right;

}
.sub-live .link4:hover {
    background: url(../images/menu-live-active.png) -433px 13px no-repeat
}
.sub-chess {
    background: url(../images/menu-chess.png) 0 -25px no-repeat;
    left: 573px
}
.sub-chess .link1 {
    display: inline-block;
    vertical-align: top;
    text-align: right;
}
.sub-chess .link1:hover {
    background: url(../images/menu-chess-active.png) 30px 1px no-repeat
}
.sub-lottery {
    background: url(../images/menu-lottery.png) 0 -25px no-repeat;
    left: 722px
}
.sub-lottery .link1 {
    display: inline-block;
    vertical-align: top;
    text-align: right;

}
.sub-lottery .link1:hover {
    background: url(../images/menu-lottery-active.png) 30px 1px no-repeat
}
.sub-casino {
    background: url(../images/menu-casino.png) 0 -25px no-repeat;
    left: 806px;
    vertical-align: top;
    text-align: right;

}
.sub-casino .link1 {
    display: inline-block;
    vertical-align: top;
    text-align: right;

}
.sub-casino .link1:hover {
    background: url(../images/menu-casino-active.png) 30px 1px no-repeat
}
.sub-tiger {
    background: url(../images/menu-tiger.png) 0 -25px no-repeat;
    width: 488px;
    height: 186px;
    left: 511px
}
.sub-tiger .link1 {
    width: 173px;
    height: 186px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}
.sub-tiger .link2,
.sub-tiger .link3 {
    width: 143px;
    height: 186px;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}
.sub-tiger .link1:hover {
    background: url(../images/menu-tiger-active.png) 26px 7px no-repeat
}
.sub-tiger .link2:hover {
    background: url(../images/menu-tiger-active.png) -147px 7px no-repeat
}
.sub-tiger .link3:hover {
    background: url(../images/menu-tiger-active.png) -290px 7px no-repeat
}
.sub-tryPlay {
    background: url(../images/menu-tryplay.png) 0 -25px no-repeat;
    width: 774px;
    height: 186px;
    left: 460px
}
.sub-tryPlay .link1 {
    width: 173px;
    height: 186px;
    display: inline-block
}
.sub-tryPlay .link1:hover {
    background: url(../images/menu-tryplay-active.png) 0 -25px no-repeat
}
.sub-tryPlay .link2 {
    width: 143px;
    height: 186px;
    display: inline-block
}
.sub-tryPlay .link3,
.sub-tryPlay .link4 {
    width: 143px;
    height: 186px;
    display: inline-block
}
.sub-tryPlay .link2:hover {
    background: url(../images/menu-tryplay-active.png) -173px -25px no-repeat
}
.sub-tryPlay .link3:hover {
    background: url(../images/menu-tryplay-active.png) -316px -25px no-repeat
}
.sub-tryPlay .link4:hover {
    background: url(../images/menu-tryplay-active.png) -459px -25px no-repeat
}
.sub-tryPlay .link5 {
    width: 150px;
    height: 186px;
    display: inline-block
}
.sub-tryPlay .link5:hover {
    background: url(../images/menu-tryplay-active.png) -602px -25px no-repeat
}
.hide{display:none;}


.navbar-collapse {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.activenav>a, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    border-right-color: transparent; 
    border-left-color: transparent; 
    background-color: transparent; 
}

.navbar-default .navbar-nav>li>a {
    color: #bd5f5f;
    height: 65px;
    line-height: 65px;
    padding: 0 18px;
    transition: all .6s;
    min-width: 77px
}
.navbar-default .navbar-header {
    padding-bottom: 8px;
    margin-top: -22px
}
.navbar-default .navbar-nav>li>a>.triangle {
    position: absolute;
    display: block;
    height: 65px;
    width: 10px;
    bottom: 0;
    right: 0;
    transition: all .4s ease 0s;
	left: inherit;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAEAQMAAAB4CLc+AAAABlBMVEUAAADOzs4X8xfyAAAAAXRSTlMAQObYZgAAABBJREFUCNdjOMaQw2DBIAAACEYBezBAvPEAAAAASUVORK5CYII=) 50% 50% no-repeat
}

.tryPlay img {
    margin-top: -4px
}

.navbar-nav>.tryPlay.activenav>a,
.tryPlay,
.tryPlay.activenav {
    background: url();
}
.tryPlay a:hover {
    background: url();
}
header {
    position: relative;
    background: url(../images/header-line.png) center bottom no-repeat;
    background-size: contain
}

.navbar-sub>.sub-content {
    height: 130px;
    background: url();
    border-bottom:0px;
    overflow: inherit;
	/*position:absolute;*/
	top:0px;
	margin-right:30px;
	/*left:354px;*/
}
.navbar-sub>.sub-content>.container {
    overflow: inherit !important;
}

.navbar-sub>.sub-content,
.sub-box>dt {
    height: 130px
}
.static-right ._vr_login {
    color: #fff;
    background: url(../images/btn-sun.png) no-repeat;
    background-size: cover;
    border: 0;
    width: 70px;
    height: 26px;
    margin-right: 7px
}

.header-login .form-control {
    width: 180px;
    height: 26px;
    line-height: 12px;
    background-color: #592323;
    border-radius: 1px;
	text-shadow: 0 0 0;
    border: 1px solid #8a3e3e;
    box-sizing: border-box;
	color:#b35a5a;
}
a.tip-forget {
    right: 4px;
    top: 4px;
    padding: 0 6px;
    height: 18px;
    line-height: 16px;
    text-align: center;
    color: #eee;
    border-radius: 2px;
	background:transparent;
	border:0px;
}

.right_online {
    background: url(../images/dekefubg-sun.png) no-repeat
}

.right_qq {
    background: url(../images/qqbg-sun.png) no-repeat
}
.right_phone {
    background: url(../images/phonebg-sun.png) no-repeat
}
.floatr li {
    margin-bottom: 0px; 
}

.floatr .qqBox {
    height: 57px;
    width: 0;
    text-align: left;
    left: 0;
    background: url(../images/kefuhover-sun.png) no-repeat;
    margin-top: -6px;
}

.floatr .phoneBox {
    height: 57px;
    width: 0;
    text-align: left;
    left: 0;
    background: url(../images/kefuhover-sun.png) no-repeat;
    margin-top: -12px;
}
.floatr {
    width: 57px;
    margin-top: -92px;
    margin-left: 0;
    z-index: 100;
    position: absolute;
    left: inherit;
    right: 0px;
}

.index-notice {
    background: url(../images/noticebg-sun.png) center no-repeat;
    background-size: cover;
    margin-top: -34px;
}
.notice .notice-list {
    float: right;
    width: 940px
}

.notice .notice-list>ul {
    height: 35px
}
.notice-list, .notice-list a {
    color: #FFF;
    font-size: 12px;
}

.index-slide, .index-slide>.slide-inner {
    height: 420px;
    position: relative;
}

.index-rows-03 {
    height: 220px;
    background: url(../images/mod4-bg.png) no-repeat;
    margin-top: 0px
}
.index-rows-03 .link:before {
    content: ' ';
    display: table;
    display: block;
}
.index-rows-03 .link-1,
.index-rows-03 .link-2,
.index-rows-03 .link-3,
.index-rows-03 .link-4{
    height: 220px;
    width: 300px;
    display: block;
    float: left
}
.index-rows-03 .link:hover:before {
    background: #fff;
    opacity: .1
}
.index-rows-03 .link-1 {
    background: url(../images/mod4.png) no-repeat;
	background-position:10px 20px;
    /*background-size: cover*/
}
.index-rows-03 .link-2 {
    background: url(../images/mod4.png) no-repeat;
	background-position:-300px 20px;
}
.index-rows-03 .link-3 {
    background: url(../images/mod4.png) no-repeat;
	background-position:-600px 20px;
}
.index-rows-03 .link-4 {
    background: url(../images/mod4.png) no-repeat;
	background-position:-900px 20px;

}

.index-rows-03 h3 {
	text-align: center;
    font-size: 14px;
    color: #eee;
    margin-top: 135px;
    padding-right: 25px;
}
.index-rows-03 p {
	color:#7d6f71;
   line-height: 30px;
    text-align: center;
    padding-right: 25px;
}

.index-rows-04 {
    min-height: 500px;
    background: url(../images/mod5-bg.png) no-repeat;
    background-size: cover;
    margin-top: 0px;
	font-size:12px;
	font-family:'Microsoft Yahei', sans-serif,'Helvetica Neue', 'Helvetica';
}

.index-rows-04 .col-3-1 {
    padding: 15px 15px;
    color: #7d6f71;
    line-height: 30px;
}
.index-rows-04 .col-3-1 h3{
    font-size: 16px;
    text-align: center;
    color: #eee;
}
.index-rows-04 .col-3-1 span{
    color: #cfbec1;

}

.footer-bar {
    height: 50px;
    background: url(../images/footer-line.png) no-repeat center top;
    margin-top: 0px;
	padding:20px 10px;
	font-family:'Microsoft Yahei', sans-serif,'Helvetica Neue', 'Helvetica';
}

.footer-bar .col-3-1{
	color:#bd5f5f;
	text-align:right;

}
.footer-bar .col-3-2 a{
	color:#bd5f5f;
    transition: all .6s;
	margin:0 10px;
}
.footer-bar .col-3-2 a:hover{
	color:#EEE;
}


.bootstrap-dialog.type-warning .modal-header {
    background-color: #270307;
}

#username::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cd6969;
}
#username::-moz-placeholder { /* Firefox 19+ */
  color: #cd6969;
}
#username:-ms-input-placeholder { /* IE 10+ */
  color: #cd6969;
}
#username:-moz-placeholder { /* Firefox 18- */
  color: #cd6969;
}


#password::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cd6969;
}
#password::-moz-placeholder { /* Firefox 19+ */
  color: #cd6969;
}
#password:-ms-input-placeholder { /* IE 10+ */
  color: #cd6969;
}
#password:-moz-placeholder { /* Firefox 18- */
  color: #cd6969;
}
.closePob {    cursor: pointer;}

.zhizhaomask {
    opacity: .7 !important;
}
.modal-backdrop.in {
    opacity: .7 !important;
}

.index-rows-01 .title {
    color: #f39c51;
    text-align: center;
    margin-top: -50px;
    font-size: 16px;
}

.index-rows-01 .link:hover .title {
    color: #eee;
}
.n1 {
    background: url(../images/numbers.png) 3px 0px no-repeat;
    height: 30px;
    width: 20px;
    display: inline-block;
}
.n2 {
    background: url(../images/numbers.png) -40px 0px no-repeat;
    height: 30px;
    width: 20px;
    display: inline-block;
}

.n3 {
    background: url(../images/numbers.png) -80px 0px no-repeat;
    height: 30px;
    width: 20px;
    display: inline-block;
}

.n4 {
    background: url(../images/numbers.png) -109px 0px no-repeat;
    height: 30px;
    width: 20px;
    display: inline-block;
}


.n5 {
    background: url(../images/numbers.png) -140px 0px no-repeat;
    height: 30px;
    width: 20px;
    display: inline-block;
}
.n6 {
    background: url(../images/numbers.png) -170px 0px no-repeat;
    height: 30px;
    width: 20px;
    display: inline-block;
}
.n7 {
    background: url(../images/numbers.png) -200px 0px no-repeat;
    height: 30px;
    width: 20px;
    display: inline-block;
}

.n8 {
    background: url(../images/numbers.png) -230px 0px no-repeat;
    height: 30px;
    width: 20px;
    display: inline-block;
}
.n9 {
    background: url(../images/numbers.png) -261px -3px no-repeat;
    height: 30px;
    width: 20px;
    display: inline-block;
}
.n0 {
    background: url(../images/numbers.png) -295px 0px no-repeat;
    height: 30px;
    width: 20px;
    display: inline-block;
}
.n-end {
    background: url(../images/numbers.png) -63px 0px no-repeat;
    height: 30px;
    width: 10px;
    display: inline-block;
}
.n-dot {
    background: url(../images/numbers.png) -20px -3px no-repeat;
    height: 30px;
    width: 10px;
    display: inline-block;
}
