body{
	background:#f7f7f8 !important;
}
.conditionalNav{
	background: url(../images/bordert.png) no-repeat top left;
}
.select{
	padding:5px 10px;
	border:#ddd 1px solid;
	border-top: none;
	width:100%;
	font-size:12px;
	margin:0px;
}
.select li{
	list-style:none;
	padding:10px 0 5px 100px
}
.select .select-list{
	border-bottom:#eee 1px dashed
}
.select dl{
	zoom:1;
	position:relative;
	line-height:24px;
}
.select dl:after{
	content:" ";
	display:block;
	clear:both;
	height:0;
	overflow:hidden
}
.select dt{
	width:100px;
	margin-bottom:5px;
	position:absolute;
	top:0;
	left:-100px;
	text-align:right;
	color:#666;
	height:24px;
	line-height:24px
}
.select dd{
	float:left;
	display:inline;
	margin:0 0 5px 5px;
}
.select a{
	display:inline-block;
	white-space:nowrap;
	height:24px;
	padding:0 10px;
	text-decoration:none;
	color:#666666;
	border-radius:2px;
	line-height: 24px;
}
.select a:hover{color:#fff;background-color:#0088ff}
.select .selected a,.select .selected2 a{color:#fff;background-color:#0088ff}
.shuju{
	border:1px solid #d3d3d3;
	border-top: none;
	min-height: 250px;
	padding-bottom: 90px;
	margin-bottom: 45px;
}
.list{
	position: relative;
}
.list th{
	text-align: center;
	height: 51px;
	line-height: 51px;
	font-size: 13px;
	color: #000;
	font-weight: normal;
	background:#f9fafd;
}
.list td{
	text-align: center;
	height: 51px;
	line-height: 51px;
	color: #000;
	font-size: 12px;
}
.pageList td{
	height: 30px;
	line-height: 30px;
	color: #79a8da
}
.list .even{
	background:#f9fafd;
}
.list .odd{
	background:#f3f5fa;
}
.list .chegong{
	color: #0000ff
}
.list .wait{
	color: #808080
}
.list .xiangqin{
	color: #0088ff;
	cursor:pointer;
}
.nodata{
	position: absolute;
	left: 45%;
	top: 125px;
}
.nodata td{
	width: 100%;
	text-align: center;
	color: #666;
	font-size: 14px;
	line-height: 34px;
}
.gettradelist{
	padding-bottom: 90px
}


.detailPob{
	width: 706px;
	height: 450px;
	background:#ffffff;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -225px;
	margin-left: -353px;
	display: none;
}
.detailPob{
	padding-left: 32px;
}
.detailPob h3{
	padding-bottom:12px;
}
.detailPob h3 p{
	padding:0px;
}
.detailPob .poblist1{
	font-size: 12px;
	color: #333;
	line-height: 24px;
}
.detailPob .poblist2{
	font-size: 12px;
	color: #666666;
	line-height: 20px;
	width:260px;
	height: 154px;
	background:url(../images/poblist2bg.png) no-repeat;
	margin: 36px 0px 0px 0px;
	padding: 46px 0px 0px 14px;
}
.detailPob .poblist2 .fuyan{
	color: #36ad8a
}
.detailPob .poblist2 span{
	font-weight: bold;
	width: 166px;
	display: inline-block;
	border:none;
	background:none;
	color: #666666;
}
.fuzhitips{
	position: fixed;
	width: 200px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 6px;
	background:rgba(0,0,0,0.8);
	display: none;
	font-size: 12px;
	color: #fff;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -20px;
	z-index: 18;
}
.detailPob .poblist2 button{
	display: inline-block;
	width: 40px;
	text-align: center;
	height: 19px;
	line-height: 19px;
	font-weight: normal;
	font-size: 12px;
	color: #666666;
	border:none;
	background:url(../images/mingxicon.png) no-repeat 0px -34px;
}
.pob_left{
	width: 322px;
	float: left;
}
.pob_right{
	width:346px;
	float: left; 
}
.tutorbox{
	width: 332px;
	height: 322px;	
	overflow: hidden;
	position: relative;
}
.pob_right ul{
	width: 664px;
	height: 260px;
	position:absolute;
	left: 0px;
	top: 0px;
}
.pob_right ul li{
	width: 332px;
	height: 260px;
	text-align: center;
	float: left;
}
.pob_right ol li{
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #cccccc;
	color:#fcfcfc;
	text-align: center;
	line-height: 14px;
	float: left;
	margin-right: 10px;
	font-size: 11px;
}
.pob_right ol{
	padding-top: 25px;
	position: absolute;
	bottom:25px;
	left: 150px;

}
.pob_right ol li.activeli{
	color:#ffffff;
	background-color: #0088ff;
	float: left;
}
.pob_right h4{
	font-size: 16px;
	color: #7caa19;
}

.copied::after {
  position: absolute;
  top: 12%;
  right: 110%;
  display: block;
  content: "copied";
  font-size: 0.75em;
  padding: 2px 3px;
  color: #fff;
  background-color: #22a;
  border-radius: 3px;
  opacity: 0;
  will-change: opacity, transform;
  animation: showcopied 1.5s ease;
}