<!DOCTYPE html>
<html lang="en">
<head> 
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="MobileOptimized" content="320">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="HandheldFriendly" content="true">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telphone=no, email=no" />
<meta name="screen-orientation" content="portrait">
<meta name="x5-orientation" content="portrait">
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true"> 
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">
<!-- windows phone 点击无高光 -->
<meta name="msapplication-tap-highlight" content="no">
<title>找回密码</title>
<link rel="stylesheet" type="text/css" href="../../static/styles/mobile/common.css">
<link rel="stylesheet" type="text/css" href="../../static/styles/mobile/findPassword.css">
</head>
<body>
	<div class="navTop">
		<p>找回密码</p>
		<i class="goBack"></i>
		<i class="kefu"></i>
	</div>
	<div class="form form1">
		<p class="err"></p>
		<p class="formBox">
			<span>用户名</span>
			<input type="text" placeholder="请输入用户名">
			<br class="clearfix">
		</p>
		<p class="formBox codeBox">
			<span>验证码</span>
			<input type="text" name="" placeholder="请输入验证码">
			<img src="" id="code">
			<br class="clearfix">
		</p>
		<p class="btn nextStep">下一步</p>	
	</div>
	<div class="form formQ">
		<p class="pass_tips">请选择您要找回密码的方式</p>
		<p class="formBox question cur">
			<span>通过绑定邮箱找回</span>
			<i></i>
		</p>
		<p class="formBox question">
			<span>通过安全问题找回</span>
			<i></i>
		</p>
		<p class="formBox question">
			<span>通过资金密码找回</span>
			<i></i>
		</p>
		<p class="btn nextStep">下一步</p>	
	</div>
	<div class="form form2">
		<p class="err"></p>
		<p class="formBox">
			<span>邮箱</span>
			<input type="text" placeholder="请输入用户名">
			<br class="clearfix">
		</p>
		<p class="formBox getcCodeBox">
			<span>验证码</span>
			<input type="text" name="" placeholder="请输入验证码">
			<span class="getCode">获取验证码</span>
			<br class="clearfix">
		</p>
		<ul class="findStep">
			<li class="btn preStep">返回上一步</li>
			<li class="btn nextStep">下一步</li>
		</ul>
		<div class="clearfix"></div>
	</div>
	<div class="form QaBox">
		<p class="err"></p>
		<p class="formBox">
			<span>安全问题</span>
			<select><option>请选择安全问题</option></select>
			<br class="clearfix">
		</p>
		<p class="formBox">
			<span>答案</span>
			<input type="text" name="" placeholder="请输入答案">
			<br class="clearfix">
		</p>
		<ul class="findStep">
			<li class="btn preStep">返回上一步</li>
			<li class="btn nextStep">下一步</li>
		</ul>
		<div class="clearfix"></div>
	</div>
	<div class="form fundsBox">
		<p class="err"></p>
		<p class="formBox">
			<span>资金密码</span>
			<input type="text" name="" placeholder="请输入您的资金密码">
			<br class="clearfix">
		</p>
		<ul class="findStep">
			<li class="btn preStep">返回上一步</li>
			<li class="btn nextStep">下一步</li>
		</ul>
		<div class="clearfix"></div>
	</div>
	<div class="form form3">
		<p class="err"></p>
		<p class="formBox newpassword">
			<span>新密码</span>
			<input type="text" placeholder="请输入用户名">
			<br class="clearfix">
		</p>
		<p class="formBox fircomPassword">
			<span>确认新密码</span>
			<input type="text" name="" placeholder="请输入验证码">
			<br class="clearfix">
		</p>
		<p class="btn yes">确定</p>	
	</div>

	<div class="pob">
		<p>修改密码成功</p>
		<ul>
			<li class="goHome"><a href="##">返回主页</a></li>
			<li class="goLogin"><a href="##">立即登录</a></li>
		</ul>
	</div>
	<div id="mask"></div>
</body>
</html>