<!DOCTYPE html>
<html lang="en">
<head> 
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="MobileOptimized" content="320">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="HandheldFriendly" content="true">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telphone=no, email=no" />
<meta name="screen-orientation" content="portrait">
<meta name="x5-orientation" content="portrait">
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true"> 
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">
<!-- windows phone 点击无高光 -->
<meta name="msapplication-tap-highlight" content="no">
<title>个人中心</title>
<link rel="stylesheet" type="text/css" href="../../static/styles/mobile/common.css">
<link rel="stylesheet" type="text/css" href="../../static/styles/mobile/personalCenter.css">
</head>
<body>
	<div class="centerTop">
		<div class="ctl">
			<i class="ctIcon"></i>
		</div>
		<div class="ctr">
			<dl>
				<dt><span>下午好，</span><span>qwerty！</span></dt>
				<dd>完善更多个人信息可免费获取超值优惠券噢～</dd>
			</dl>
		</div>
	</div>
	<div class="centerContent">
		<ul>
			<li class="personalbtn">
				<div>
					<span>个人信息</span>
					<a href="###">您还有未完善的信息</a>
					<i></i>
				</div>
			</li>
			<li class="passwordbtn">
				<div>
					<span>密码设置</span>
					<a></a>
					<i></i>
				</div>
			</li>
			<li class="cardbtn">
				<div>
					<span>管理银行卡</span>
					<a>您还未绑定银行卡</a>
					<i></i>
				</div>
			</li>
			<li class="messagebtn">
				<div>
					<span>消息中心</span>
					<a></a>
					<i></i>
				</div>
			</li>
		</ul>
	</div>
	
	<div class="pob">
		<p>修改密码成功</p>
		<ul>
			<li class="goHome"><a href="##">返回主页</a></li>
			<li class="goLogin"><a href="##">立即登录</a></li>
		</ul>
	</div>
	<div id="mask"></div>
</body>
</html>