/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-list_image {
  background-image: url(../images/index/sprite.png);
  background-position: 0px -29px;
  width: 13px;
  height: 13px;
}
.icon-qian {
  background-image: url(../images/index/sprite.png);
  background-position: -29px 0px;
  width: 18px;
  height: 28px;
}
.icon-search {
  background-image: url(../images/index/sprite.png);
  background-position: 0px 0px;
  width: 29px;
  height: 29px;
}
